extends /layouts/application.pug

block content
  .d-inline-flex
    a.btn.btn-primary(href=urlFor('newTask')) Create task
  .d-inline-flex  
    +formFor(f, { url: urlFor('tasks'), method: 'get' })
      .d-inline-flex
        +inputTags(f, 'tags', 'tags', { as: 'text' })
      .d-inline-flex
        .form-check
          input.form-check-input(type="checkbox" value="1" id="defaultCheck1" name="creatorId")
          label.form-check-label(for="defaultCheck1") My tasks
      .d-inline-flex
        +selectToFilter('assignedToId', 'assignedTo', users, 'fullName')
      .d-inline-flex
        +selectToFilter('taskStatusId', 'taskStatus', statuses, 'name')
      .d-inline-flex
        +button(f, 'submit', 'Filter')
  table.table
    thead
      tr
        th name
        th Description
        th Status
        th Tags
        th Assigned to
        th Author
        th
        th
        th
    tbody
      each task in tasks
        tr
          td= task.name
          td= task.description
          td
            if(task.taskStatus)
              task.taskStatus.name
          td
            each tag in task.Tags
              a.badge.badge-primary(href="#")= tag.name
          td= task.creator.fullName
          td
            if(task.assignedTo)
              task.assignedTo.fullName
          td
            a.btn.btn-primary(href=urlFor('showTask', { id : task.id })) Open
          td
            a.btn.btn-primary(href=urlFor('editTask', { id: task.id })) Edit
          td
            a.btn.btn-primary.btn-danger(href=urlFor('deleteTask', { id: task.id }) data-method='delete' rel='nofollow') Delete
          
